# Binaries
/netxfw
/netxfw-linux-amd64
/netxfw-linux-arm64
/netxfw_protected
/ai-mcp
/netxfw-controller
/netxfw-controller.yaml
# Local config
/etc/
/vendor/

# BPF objects
internal/xdp/netxfw_bpfel.o
internal/xdp/netxfw_bpfeb.o
internal/xdp/netxfw_bpfel.go
internal/xdp/netxfw_bpfeb.go

# OS metadata
.DS_Store
Thumbs.db
