# Binaries
/netxfw
/netxfw-linux-amd64
/netxfw-linux-arm64
/netxfw_protected

# Local config
/etc/

# BPF objects
internal/xdp/netxfw_bpfel.o
internal/xdp/netxfw_bpfeb.o
internal/xdp/netxfw_bpfel.go
internal/xdp/netxfw_bpfeb.go

# OS metadata
.DS_Store
Thumbs.db
